Repository rocketroz/fittwin-unified: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --check

track branch-scoped .codex (no secrets)
  .codex/config.json
  .codex/rag.yaml
  .env.shared
Due: prettier --check

chore: ignore android commandline archives
  .gitignore
Due: none

Add implementation roadmap document
  docs/IMPLEMENTATION_ROADMAP.md
Due: prettier --check

Add Phase 2 development infrastructure
  .github/workflows/backend-tests.yml
  .github/workflows/deploy.yml
  .github/workflows/mobile-build.yml
  requirements-dev.txt
  requirements.txt
  scripts/dev_server.sh
  scripts/run_agents.sh
  scripts/test_all.sh
  tests/__init__.py
  tests/agents/test_measurement_tools.py
  tests/backend/test_cart.py
  tests/backend/test_measurements.py
  tests/e2e/package.json
  tests/e2e/playwright.config.js
  tests/e2e/tests/checkout-flow.spec.js
  workers/avatar-processor/worker.py
  workers/notification-worker/worker.py
  workers/render-worker/worker.py
Due: eslint --max-warnings=0, prettier --check

Remove workflows temporarily due to permissions
  .github/workflows/backend-tests.yml
  .github/workflows/deploy.yml
  .github/workflows/mobile-build.yml
Due: none

Add GitHub workflows setup instructions
  .github/WORKFLOWS_SETUP.md
Due: prettier --check

Add production-ready service layer
  backend/app/services/auth_service.py
  backend/app/services/cart_service.py
  backend/app/services/order_service.py
  data/supabase/migrations/006_auth_enhancements.sql
Due: none

Add referral and brand services with complete B2B infrastructure
  backend/app/services/brand_service.py
  backend/app/services/referral_service.py
  data/supabase/migrations/007_referrals_and_brand_admins.sql
  requirements.txt
Due: none

Add authentication middleware and update auth router
  backend/app/middleware/auth.py
  backend/app/routers/auth.py
Due: none

Add comprehensive production-ready summary document
  PRODUCTION_READY_SUMMARY.md
Due: prettier --check

Add comprehensive Supabase setup guide
  SUPABASE_SETUP_GUIDE.md
Due: prettier --check

Add Quick Start guide for 15-minute setup
  QUICK_START.md
Due: prettier --check

Add environment setup status and update gitignore
  .gitignore
  ENV_SETUP_STATUS.md
Due: prettier --check

Add consolidated database migration for easy setup
  data/supabase/CONSOLIDATED_MIGRATION.sql
Due: none

Add missing specs, documentation, and changelog from original repositories
  CHANGELOG.md
  docs/FITTWIN_AGENTS.md
  docs/measurement_formulas.md
  docs/speckit.md
  specs/001-fittwin-v1-platform/contracts/auth.md
  specs/001-fittwin-v1-platform/contracts/brand-portal.md
  specs/001-fittwin-v1-platform/contracts/commerce.md
  specs/001-fittwin-v1-platform/contracts/profile.md
  specs/001-fittwin-v1-platform/contracts/referrals.md
  specs/001-fittwin-v1-platform/contracts/tryon.md
  specs/001-fittwin-v1-platform/data-model.md
  specs/001-fittwin-v1-platform/plan.md
  specs/001-fittwin-v1-platform/quickstart.md
  specs/001-fittwin-v1-platform/research.md
  specs/001-fittwin-v1-platform/spec.md
  specs/001-fittwin-v1-platform/tasks.md
  specs/main/spec.md
Due: prettier --check

Add clean idempotent migration that handles existing objects
  data/supabase/CLEAN_MIGRATION.sql
Due: none

Fix backend imports and update dependencies for cross-platform compatibility
  backend/app/core/config.py
  backend/app/main.py
  backend/app/routers/auth.py
  backend/app/routers/brands.py
  backend/app/routers/cart.py
  backend/app/routers/measurements.py
  backend/app/routers/orders.py
  backend/app/routers/referrals.py
  requirements.txt
Due: none

Add complete iOS app with Xcode project for testing
  ios/FitTwinApp/FitTwinApp.xcodeproj/project.pbxproj
  ios/FitTwinApp/FitTwinApp.xcodeproj/project.xcworkspace/xcuserdata/laura.xcuserdatad/UserInterfaceState.xcuserstate
  ios/FitTwinApp/FitTwinApp.xcodeproj/xcuserdata/laura.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/FitTwinApp/FitTwinApp/Assets.xcassets/AccentColor.colorset/Contents.json
  ios/FitTwinApp/FitTwinApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/FitTwinApp/FitTwinApp/Assets.xcassets/Contents.json
  ios/FitTwinApp/FitTwinApp/CaptureFlow/CameraPermissionManager.swift
  ios/FitTwinApp/FitTwinApp/CaptureFlow/CaptureFlowView.swift
  ios/FitTwinApp/FitTwinApp/CaptureFlow/CaptureFlowViewModel.swift
  ios/FitTwinApp/FitTwinApp/CaptureFlow/CaptureSessionState.swift
  ios/FitTwinApp/FitTwinApp/ContentView.swift
  ios/FitTwinApp/FitTwinApp/FitTwinAppApp.swift
  ios/FitTwinApp/FitTwinApp/Preview Content/Preview Assets.xcassets/Contents.json
  ios/FitTwinApp/FitTwinApp/Resources/Info.plist
  ios/README.md
Due: prettier --check

feat: Implement LiDAR capture and MediaPipe processing
  backend/app/__pycache__/__init__.cpython-311.pyc
  backend/app/__pycache__/main.cpython-311.pyc
  backend/app/core/__pycache__/__init__.cpython-311.pyc
  backend/app/core/__pycache__/config.cpython-311.pyc
  backend/app/core/validation.py
  backend/app/middleware/__pycache__/auth.cpython-311.pyc
  backend/app/routers/__pycache__/__init__.cpython-311.pyc
  backend/app/routers/__pycache__/auth.cpython-311.pyc
  backend/app/routers/__pycache__/brands.cpython-311.pyc
  backend/app/routers/__pycache__/cart.cpython-311.pyc
  backend/app/routers/__pycache__/measurements.cpython-311.pyc
  backend/app/routers/__pycache__/orders.cpython-311.pyc
  backend/app/schemas/__pycache__/__init__.cpython-311.pyc
  backend/app/schemas/__pycache__/errors.cpython-311.pyc
  backend/app/services/__pycache__/__init__.cpython-311.pyc
  backend/app/services/__pycache__/auth_service.cpython-311.pyc
  docs/integration_checklist.md
  docs/ios_lidar_implementation_guide.md
  ios/FitTwinApp/FitTwinApp/Camera/CameraPreviewView.swift
  ios/FitTwinApp/FitTwinApp/Camera/LiDARCameraManager.swift
  ios/FitTwinApp/FitTwinApp/CaptureFlow/CameraPreviewView.swift
  ios/FitTwinApp/FitTwinApp/CaptureFlow/CaptureFlowViewModel_Updated.swift
  ios/FitTwinApp/FitTwinApp/CaptureFlow/CaptureFlowView_Updated.swift
  ios/FitTwinApp/FitTwinApp/CaptureFlow/LiDARCameraManager.swift
  ios/FitTwinApp/FitTwinApp/MediaPipe/MeasurementCalculator.swift
  ios/FitTwinApp/FitTwinApp/MediaPipe/PoseDetector.swift
Due: prettier --check

docs: Add comprehensive changelog for v2.1 LiDAR implementation
  CHANGELOG.md
Due: prettier --check

docs: Add Mac integration next steps guide
  docs/NEXT_STEPS_MAC.md
Due: prettier --check

Update measurements.py and README.md - improve measurement routing and documentation
  README.md
  backend/app/routers/measurements.py
Due: prettier --check

feat: wire capture flow to backend API
  .gitignore
  codex_sessions/20251030-062804-feat-wire-capture-flow-to-backend-api.md
  ios/FitTwinApp/FitTwinApp.xcodeproj/project.xcworkspace/xcuserdata/laura.xcuserdatad/UserInterfaceState.xcuserstate
  ios/FitTwinApp/FitTwinApp/CaptureFlow/CaptureFlowViewModel.swift
  ios/FitTwinApp/FitTwinApp/Resources/Info.plist
Due: prettier --check

docs: document native stack setup
  README.md
  frontend/nativescript/brand-lab/app/App_Resources/Android/src/main/res/values/styles.xml
  frontend/nativescript/brand-lab/package-lock.json
  frontend/nativescript/brand-lab/package.json
  frontend/nativescript/shopper-lab/app/App_Resources/Android/src/main/res/values/styles.xml
  frontend/nativescript/shopper-lab/package-lock.json
  frontend/nativescript/shopper-lab/package.json
Due: prettier --check

docs: capture CrewAI merge summary in PR_Description.md
  PR_DESCRIPTION.md
Due: prettier --check

docs: log merge-crew-ai push for codex
  codex.log
Due: none

docs: archive codex session for merge-crew-ai push
  codex_sessions/20251103-155234-docs-log-merge-crew-ai-push-for-codex.md
Due: prettier --check

debugging the merge and added notes to the logs CrewAIMerge.log and codex.log
  CrewAIMerge.log
  codex.log
Due: none

feat(native-capture): restore android/ios bridges and wire measurement submission
  .githooks/post-commit
  FINAL_MERGE_DIFF_REPORT.txt
  backend/package.json
  backend/queue-workers/avatar-processor/package.json
  backend/queue-workers/tryon-renderer/package.json
  docs/measurement/measurement_payload.md
  docs/mobile/native_capture_alignment.md
  docs/mobile/native_capture_qa.md
  frontend/apps/brand-portal/package.json
  frontend/apps/shopper/package.json
  frontend/nativescript/README.md
  frontend/nativescript/brand-lab/app/app.ts
  frontend/nativescript/brand-lab/app/main-page.ts
  frontend/nativescript/brand-lab/app/main-page.xml
  frontend/nativescript/brand-lab/app/native-capture-page.ts
  frontend/nativescript/brand-lab/app/native-capture-page.xml
  frontend/nativescript/shared/capture/android.ts
  frontend/nativescript/shared/capture/index.ts
  frontend/nativescript/shared/capture/ios.ts
  frontend/nativescript/shared/capture/ios/bridge.ts
  frontend/nativescript/shared/capture/measurementClient.ts
  frontend/nativescript/shared/capture/nativeCaptureViewModel.ts
  frontend/nativescript/shopper-lab/app/app.ts
  frontend/nativescript/shopper-lab/app/main-page.ts
  frontend/nativescript/shopper-lab/app/main-page.xml
  frontend/nativescript/shopper-lab/app/native-capture-page.ts
  frontend/nativescript/shopper-lab/app/native-capture-page.xml
  frontend/packages/analytics/package.json
  frontend/packages/api-client/package.json
  frontend/packages/ui/package.json
  mobile/ios/FitTwinApp/FitTwinApp/CaptureFlow/CameraSessionController.swift
  mobile/ios/FitTwinApp/FitTwinApp/CaptureFlow/CapturedPhoto.swift
  mobile/ios/FitTwinApp/FitTwinApp/CaptureFlow/DeviceRequirementChecker.swift
  mobile/ios/FitTwinApp/FitTwinApp/CaptureFlow/FitTwinAPI.swift
  mobile/ios/FitTwinApp/FitTwinApp/CaptureFlow/LiDARMeasurementCalculator.swift
  mobile/platforms/ios/FitTwinLiDARBridge.swift
  scripts/full_local_test.sh
  stack.env.example
Due: eslint --max-warnings=0, prettier --check

chore: add full-local-test helper
  scripts/full_local_test.sh
Due: none

chore: add postgres setup helper
  scripts/run_all_db_tests.sh
  scripts/setup_postgres_test_db.sh
Due: none

chore: align api proxy base with backend routes
  frontend/packages/api-client/src/index.ts
Due: eslint --max-warnings=0, prettier --check

fix(web): ensure try-on proxy rewrites target backend
  frontend/apps/brand-portal/next.config.js
  frontend/apps/shopper/next.config.js
  frontend/packages/api-client/src/index.ts
Due: eslint --max-warnings=0, prettier --check

fix(web): point api client at backend host when available
  frontend/packages/api-client/src/index.ts
  scripts/dev-stack.mjs
Due: eslint --max-warnings=0, prettier --check

chore(dev): add nodemon hot reload to dev-stack
  backend/package.json
  package.json
  scripts/dev-stack.mjs
Due: prettier --check

chore: sync lockfile
  package-lock.json
Due: prettier --check

Path conditions:
  eslint --max-warnings=0: any of: *.{js,ts,tsx}
  prettier --check: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,css})
